/Week1/cifar-10-batches-py
Week1/cifar-10-python.tar.gz
Week1/.ipynb_checkpoints/ML_MethodsDemos-checkpoint.ipynb
Week4/.ipynb_checkpoints/BjetSelection_HyperParameterOptimization_original-checkpoint.ipynb
Week3/.ipynb_checkpoints/Week3_partial_solution-checkpoint.ipynb
Week3/.ipynb_checkpoints/Week3_original-checkpoint.ipynb
Week3/Week3_partial_solution.ipynb
/Week4/.ipynb_checkpoints
Week3/Week3_partial_solution.ipynb
Week3/Week3_partial_solution.ipynb
